header#header
  .navbar.navbar-default(role='navigation')
    .navbar-header(role='navigation')
      button.navbar-toggle(type="button",  "data-toggle"="collapse",  "data-target"="#collapsable")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Servers
