extends layout

block content
  .container
    .row
      #jobs
        button.btn.btn-large.create_job Create Job
    .row
      p
    .row
      #dashboard.col-sm-12
        each server, i in servers
          if ((i % 6) == 0)
            .row
          - var serverid = server.id.replace(/\.|:/g, "x")
          .col-sm-4.server_panel(id="#{serverid}")
            include shared/server_panel.jade

.col-sm-4block extrajs
  script(src="/js/libs/require.js", data-main='/js/app.js') 
